@import "./variables";
@import "./fonts";

$border-style: 1px solid #cbcbcb;

:global {
  @import "./vendors/materialize";

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  nav ul a,
  nav .brand-logo {
    color: #444;
  }
    .sso-logo {
      max-height: 4rem;
    }

  ul#register_form {
    li {
      opacity: 0;
    }

    #information_section {
      box-shadow: none !important;
      margin: 0;
    }
  }

  blockquote {
    border-left: 5px solid #1a237e !important;
  }

  p {
    line-height: 2rem;
  }

  .button-collapse {
    color: #26a69a;
  }

  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }

  .top-nav {
    height: 80px;
    box-shadow: none;
  }
    .page-title {
      line-height: 80px;
      font-size: 36px;
    }

  .agreement-text {
    height: 70%;
    resize: none;
    margin-bottom: 1rem
  }

  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }

  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }

  footer.page-footer {
    padding-top: 0;
    margin: 0;
  }

}
