@import "./variables";

$border-style: 1px solid #cbcbcb;

:global {
  @import "./vendors/materialize";

  nav ul a,
  nav .brand-logo {
    color: #444;
  }
    .sso-logo {
      max-height: 4rem;
    }

  ul#register_form {
    li {
      opacity: 0;
    }
  }

  p {
    line-height: 2rem;
  }

  .button-collapse {
    color: #26a69a;
  }

  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }

  .top-nav {
    height: 90px;
    box-shadow: none;
  }
    .page-title {
      line-height: 90px;
      font-size: 36px;
    }

  .agreement-text {
    height: 70%;
    resize: none;
    margin-bottom: 1rem
  }

  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }

  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }

  footer.page-footer {
    margin: 0;
  }

}
